body {
    background-color: lightgray;
    display: flex;
    justify-content: center;
}

.auth {
    background: #FFFFFF;
    margin-top: 50px;
    margin-left: 10px;
    border-radius: 10px;
    width: 360px;
}

.auth__content {
    padding: 10px 20px 25px;
}

.auth__content-close {
    text-align: right;
    margin-bottom: 20px;
}

.auth__content-close > img {
    cursor: pointer;
}


.auth__content-header {
    display: flex;
}

.auth__content-header > p {
    cursor: pointer;
    margin-top: 0px;
    margin-bottom: 30px;
    font-weight: bold;
}

.auth__content-header-signIn {
    margin-right: 60px;
}

.auth__content-signIn {
    text-align: center;
    margin-bottom: 10px;
}

.form__input {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 2px solid grey;
    margin-bottom: 15px;
    cursor: pointer;
}

.form__password-forgotten {
    text-align: right;
    color: blue;
    text-decoration: underline;
    margin-bottom: 20px;
    cursor: pointer;
}

.form__checkbox-btn * {
    cursor: pointer;
}

.form__btn {
    background-color: blue;
    border: none;
    border-radius: 20px;
    color: #FFFFFF;
    width: 85%;
    padding: 10px 0px;
    margin: 20px 0px;
    cursor: pointer;
}

.form__btn-wrapper {
    text-align: center;
}

.auth__content-bottom > span {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}